@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #141C2F;
  color: #FFFFFF;
  font-family: 'Space Mono', monospace;
}

.container {
  max-width: 750px;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 120px;
  padding-top: 100px;
  position: relatve;
}

::placeholder {
  color: #FFFFFF;
  font-family: 'Space Mono', monospace;
}